.body{
    margin: 0;
    padding: 0;
}
#wrapper{
    background-color: lightskyblue;
    height: 100vh;
}
.h1{
    font-size: 30px;
}
.p{
    font-size: 25px;
}
.image{
    float: left;
    border-color: black;
}
.a{
    color: blue;
}